SDL2
SDL2_gfx
SDL2_image
SDL2_mixer
SDL2_net
SDL2_ttf
a52dec
aaa_base
aaa_elflibs
aaa_terminfo
attr
autoconf
automake
bash
bin
binutils
bison
bzip2
cmake
coreutils
cscope
curl
cyrus-sasl
dash
dbus
dev86
devs
dialog
diffutils
elfutils
elvis
etc
expat
ffmpeg
file
findutils
flex
fontconfig
fuse
gawk
gc
gcc
gcc-brig
gcc-g++
gcc-gnat
gccmakedep
gcr
gettext
gettext-tools
getty-ps
ghostscript
git
glibc
glibc-i18n
glibc-profile
glibc-solibs
glibc-zoneinfo
glibmm
gnu-efi
gnucobol
gnupg
gnutls
grep
gst-plugins-libav
guile
gzip
indent
intltool
iproute2
kernel-headers
kernel-source
lame
less
libXfont2
libaio
libao
libarchive
libart_lgpl
libassuan
libasyncns
libatasmart
libbluedevil
libbluray
libcaca
libcanberra
libcap
libcap-ng
libcddb
libcdio
libcdio-paranoia
libclc
libcroco
libdbusmenu-qt
libdiscid
libdvdnav
libdvdread
libedit
libevent
libexif
libfakekey
libffi
libgcrypt
libglade
libgnome-keyring
libgpg-error
libgphoto2
libgpod
libgsf
libgudev
libical
libid3tag
libidl
libidn
libidn2
libieee1284
libimobiledevice
libinput
libiodbc
libjpeg-turbo
libkarma
libksba
liblastfm
libmad
libmbim
libmcrypt
libmcs
libmng
libmnl
libmowgli
libmpc
libmsn
libmtp
libndp
libnetfilter_acct
libnetfilter_conntrack
libnetfilter_cthelper
libnetfilter_cttimeout
libnetfilter_log
libnetfilter_queue
libnfnetlink
libnftnl
libnih
libnjb
libnl
libnl3
libnotify
libodfgen
libogg
liboggz
liboil
libpcap
libplist
libpng
libproxy
libqmi
libraw1394
librevenge
librsvg
libsamplerate
libsecret
libsigc++
libsigsegv
libsndfile
libsoup
libspectre
libssh
libssh2
libtasn1
libtheora
libtiff
libtirpc
libtool
libunistring
libusb
libusb-compat
libusbmuxd
libvisio
libvisual
libvisual-plugins
libvncserver
libvorbis
libvpx
libwacom
libwebp
libwmf
libwmf-docs
libwnck
libwpd
libwpg
libx86
libxklavier
libxml2
libxslt
libyaml
libzip
links
lynx
lzo
m4
make
meson
mlocate
mpfr
nasm
ncurses
net-tools
nfs-utils
ninja
npth
ntfs-3g
ntp
ocl-icd
opencl-headers
openssl
patch
pcre2
perl
pkg-config
pkgtools
polkit
procps-ng
pyparsing
python
python-appdirs
python-certifi
python-chardet
python-docutils
python-idna
python-packaging
python-pip
python-requests
python-sane
python-setuptools
python-six
python-urllib3
python3
re2c
readline
ruby
rust
sdl
sed
shadow
sharutils
slackpkg
squashfs-tools
sshfs
sysfsutils
syslinux
tar
texlive
time
tree
urw-core35-fonts-otf
utempter
util-linux
vim
vulkan-sdk
wget
which
wqy-zenhei-font-ttf
xbacklight
xf86-input-libinput
xf86-video-chips
xf86-video-glint
xf86-video-i740
xf86-video-mga
xf86-video-nv
xf86-video-r128
xf86-video-savage
xf86-video-siliconmotion
xf86-video-sis
xf86-video-tdfx
xf86-video-trident
xorriso
xz
yasm
zlib
zoo
